datasets/
.DS_Store
__pycache__/
*.pyc
OrganoidData/
OrganoidData
references/*
!references/
!references/*.md
segmentation/
selected_data/
AiResult.pptx
._AiResult.pptx
research_idea/*.aux
research_idea/*.log
research_idea/*.nav
research_idea/*.out
research_idea/*.pdf
research_idea/*.snm
research_idea/*.toc
